<div class="modal-body">
  <div class="media-wrapper-fullscreen">
    <!-- <img class="image" width="300px" src="/assets/medias/event_img.jpg"> -->
  </div>

  <div class="min-toolbar min-toolbar_main">
    <div class="fill"></div>
    <a class="btn btn-sm float-right" (click)="bsModalRef.hide()"><i class="material-icons">close</i> Fermer</a>
  </div>

  <div class="side side-media">
    <div class="row no-gutters">
      <div class="col-6 media-contributors">
        <table class="table table-striped media-contributors-table">
          <thead>
            <tr>
              <th scope="col">Participant - 10/20</th>
              <th scope="col">Date d'inscription</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">Mark</a></td>
              <td>02/10/18</td>
            </tr>
            <tr>
              <td><a href="#">Jacob</a></td>
              <td>02/10/18</td>
            </tr>
            <tr>
              <td><a href="#">Larry</a></td>
              <td>02/10/18</td>
            </tr>
            <tr>
              <td><a href="#">Mark</a></td>
              <td>02/10/18</td>
            </tr>
            <tr>
              <td><a href="#">Jacob</a></td>
              <td>02/10/18</td>
            </tr>
            <tr>
              <td><a href="#">Larry</a></td>
              <td>02/10/18</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6 map">
        <div id="leaflet-map" class="media-leaflet-map">
        </div>
      </div>
    </div>
  </div>

  <div class="priority-infos">
    <div class="text-center">
      Commence dans <b>10</b> heures <b>30</b> minutes (12/02/18 à 12:00)
    </div>
  </div>

  <div class="side side-content">
    <div class="info">
      <div class="info-user text-truncate">
        <a class="info-user-link" href="#">
          <img src="//d1uzk9o9cg136f.cloudfront.net/f/16777218/avatar/2012/09/05/16777742/e2acc7b9199fea0142aa61f48ce4f5e3a185a5e5_normal.jpg">
          <span class="info-user-name">AntiLoxy</span>
          <span class="info-event-createdat text-muted">Poster sur <b>@brive-jpop</b> le <br> 2012/10/26 à 18:00</span>
        </a>
      </div>
      <div class="info-event text-truncate">
        <div class="info-event-stats">
          <span class="info-event-stats-likes">
            <span>2500</span> vues
          </span>
          <span class="info-event-stats-comments">
            <span>144</span> commentaires
          </span>
        </div>

        <div class="info-event-toolbar">
          <a href="#" class="btn btn-sm btn-primary"><i class="material-icons">event</i>Participer à l'évènement</a>
          <a href="#" class="btn btn-sm btn-light"><i class="material-icons">thumb_up</i>599</a>
          <a href="#" class="btn btn-sm btn-light"><i class="material-icons">add_alert</i>Alerte</a>
        </div>
      </div>
    </div>
    <h3 class="title">Lorem ipsum</h3>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="tags">
      <span>badges : </span>
      <ul class="words">
        <li class="word-item">
          <a class="word-link" href="#">tennis debutant</a>
        </li>
        <li class="word-item">
          <a class="word-link" href="#">c++</a>
        </li>
        <li class="word-item">
          <a class="word-link" href="#">javascript</a>
        </li>
        <li class="word-item">
          <a class="word-link" href="#">mécanique ancienne</a>
        </li>
        <li class="word-item">
          <a class="word-link" href="#">club de carte</a>
        </li>
        <li class="word-item">
          <a class="word-link" href="#">jeu société</a>
        </li>
        <li class="word-item">
          <a class="word-link" href="#">naheulbeuk</a>
        </li>
        <li class="word-item">
          <a class="word-link" href="#">moto cross</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="side side-comments">
    <app-comment-list [bordered]="false"></app-comment-list>
  </div>
</div>