<div class="module">
  <div class="module-header">
    <h1 class="module-header-title">Mes badges</h1>
  </div>

  <div class="module-content">
    <div class="MyTagsModule-tags">
      <span class="badge badge-tag">duel</span>
      <span class="badge badge-tag">apprentissage</span>
      <span class="badge badge-tag">debutant</span>
      <span class="badge badge-tag">terre battue</span>
      <span class="badge badge-tag">duel</span>
      <span class="badge badge-tag">apprentissage</span>
    </div>

    <a href="#" class="MyTagsModule-link-more"><i class="material-icons">add</i></a>
    
  </div>
</div>