//
// BEGIN INEHRIT
//
.badge-tag {
    font-size:100%;
    margin-bottom:0.5rem;
}
//
// END INEHRIT
//

.MyTagsModule-tags {
    margin-bottom:0.5rem;
}

.MyTagsModule-link-more {
    display:block;
    text-align:center;
}