<div class="module">
  <div class="module-header">
    <h1 class="module-header-title">Recherches suggèrées</h1>
  </div>

  <div class="module-content">
    <ul class="words">
      <li class="word-item">
        <a class="word-link" href="#">tennis debutant</a>
      </li>
      <li class="word-item">
        <a class="word-link" href="#">c++</a>
      </li>
      <li class="word-item">
        <a class="word-link" href="#">javascript</a>
      </li>
      <li class="word-item">
        <a class="word-link" href="#">mécanique ancienne</a>
      </li>
      <li class="word-item">
        <a class="word-link" href="#">club de carte</a>
      </li>
      <li class="word-item">
        <a class="word-link" href="#">jeu société</a>
      </li>
      <li class="word-item">
        <a class="word-link" href="#">naheulbeuk</a>
      </li>
      <li class="word-item">
        <a class="word-link" href="#">moto cross</a>
      </li>
    </ul>
  </div>
</div>