<div class="main-section">
  <div class="main-section-header mb-0">
    <div class="main-section-header-title">Informations du compte</div>
  </div>
  <div class="p-3 text-center">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nom d'utilisateur">
      </div>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Adresse email" readonly>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ville">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Loisir">
      </div>

      <div class="form-actions text-left">
        <button type="submit" class="btn btn-primary">Modifier</button>
      </div>
    </form>
  </div>
</div>