<div class="card">
  <a href="#" class="card-header">
    <!-- <div class="overlay-icon"><i class="material-icons">play_arrow</i></div> -->
    <img class="card-img-top" src="/assets/medias/post_img.jpg" alt="Card image cap">
  </a>

  <div class="card-body">
    <a class="card-title" (click)="openModalViewPost()">Découverte du groupe Kame</a>
    <div class="user">
      <a class="user-link text-truncate" href="#">
        <img src="//d1uzk9o9cg136f.cloudfront.net/f/16777218/avatar/2012/09/05/16777742/e2acc7b9199fea0142aa61f48ce4f5e3a185a5e5_normal.jpg">
        <span class="user-name">AntiLoxy</span>
        <span class="user-post-createdat">2012/10/26</span>
      </a>
    </div>
    <div class="info">
      <span class="info-nblikes">
        <span>399</span> personnes ont aimées !
      </span>
      <span class="info-nbcomments">
        <span>144</span> commentaires
      </span>
    </div>
  </div>

  <div class="actions">
    <a class="actions-rate-up" href="#"><i class="material-icons">thumb_up</i></a>
    <div class="col"></div>
    <a class="actions-favorite-toggle" href="#"><i class="material-icons">favorite_border</i></a>
  </div>

  <div class="markers">
    <div class="marker">
      <i class="material-icons">star_rate</i> Poster par <span>Staff</span>
    </div>
  </div>
</div>