<div class="comment-editor" [ngClass]="{'without-border': bordered == false}">
  <quill-editor></quill-editor>
  <a href="#" class="btn btn-sm btn-send">Envoyer votre commentaire</a>
</div>
<div class="comment-list">
  <div class="comment">
    <img src="//d1uzk9o9cg136f.cloudfront.net/f/16777218/avatar/2012/09/05/16777742/e2acc7b9199fea0142aa61f48ce4f5e3a185a5e5_normal.jpg">
    <div class="comment-body">
      <div class="comment-user">
        <a class="comment-user-name" href="#"><span>AntiLoxy</span></a>
        <span class="comment-user-createdat">Poster le 10/02/18 à 18:00</span>
      </div>

      <div class="comment-text">Ceci est un commentaire</div>
      <div class="comment-actions">
        <a href="#" class="btn btn-sm btn-light"><i class="material-icons">textsms</i>Répondre</a>
        <a href="#" class="btn btn-sm btn-light"><i class="material-icons">thumb_up</i>399</a>
        <a href="#" class="btn btn-sm btn-light"><i class="material-icons">add_alert</i>Alerte</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <img src="//d1uzk9o9cg136f.cloudfront.net/f/16777218/avatar/2012/09/05/16777742/e2acc7b9199fea0142aa61f48ce4f5e3a185a5e5_normal.jpg">
    <div class="comment-body">
      <div class="comment-user">
        <a class="comment-user-name" href="#"><span>AntiLoxy</span></a>
        <span class="comment-user-createdat">Poster le 10/02/18 à 18:00</span>
      </div>

      <div class="comment-text">Ceci est un commentaire</div>
      <div class="comment-actions">
        <a href="#" class="btn btn-sm btn-light"><i class="material-icons">textsms</i>Répondre</a>
        <a href="#" class="btn btn-sm btn-light"><i class="material-icons">thumb_up</i>399</a>
        <a href="#" class="btn btn-sm btn-light"><i class="material-icons">add_alert</i>Alerte</a>
      </div>
    </div>
  </div>
</div>