<div class="UserCard">
  <div class="UserCard-content">
    <div class="UserCard-image">
      <img src="//d1uzk9o9cg136f.cloudfront.net/f/16777218/avatar/2012/09/05/16777299/ddb325c19e356d9d1354cc87146a1dfa3a301251_normal.jpg">
    </div>
    <div class="UserCard-info">
      <div class="UserCard-info-user-name">Kinot Kouda <span class="UserCard-info-role">(staff)</span></div>
      <div class="UserCard-info-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
      </div>
      <div class="UserCard-info-tags">
        <span class="badge badge-tag">duel</span>
        <span class="badge badge-tag">apprentissage</span>
        <span class="badge badge-tag">debutant</span>
        <span class="badge badge-tag">terre battue</span>
        <span class="badge badge-tag">duel</span>
        <span class="badge badge-tag">apprentissage</span>
      </div>
    </div>
    <div class="UserCard-actions">
      <div class="btn-group" dropdown>
        <a class="is-action" id="button-basic" dropdownToggle><i class="material-icons">more_vert</i></a>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Envoyer une requête</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Envoyer un message</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>