<div class="card">
  <a href="#" class="card-header">
    <!-- <div class="main-overlay-icon"><i class="material-icons">lock</i></div> -->
    <img class="card-img-top" src="/assets/medias/event_img.jpg" alt="Card image cap">

    <div class="timeinfo-remaining">
      <span>2 jours restants</span>
    </div>
    <div class="timeinfo-date">
      <span>18/02/18 - 19:00</span>
    </div>
  </a>

  <div class="card-body">
    <h5 class="card-title" (click)="openModalViewEvent()">Concert AKB48 salle des trois provinces</h5>
    <div class="tags">
      <span class="badge badge-tag">concert</span>
      <span class="badge badge-tag">akb48</span>
      <span class="badge badge-tag">live</span>
    </div>
    <div class="actions">
      <button class="btn btn-light btn-join">Participer</button>
      <i>à Brive-la-gaillarde</i>
    </div>
  </div>

  <div class="card-footer">
    <i class="material-icons">group</i>
    <div class="col"></div>
    <div class="nbusers">
      <span class="value">20 / ~</span>
    </div>
  </div>
</div>