<div class="toolbar">
  <div class="container">
    <div class="toolbar-inner">
      <ul class="nav nav_menu">
        <li class="nav-item">
          <a class="nav-link active" href="#">Mes postes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes evènements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes postes favoris</a>
        </li>
      </ul>
      <div class="fill"></div>
      <ng-select class="flex-grow-1" [items]="radius" [clearable]="false" [(ngModel)]="selectedRadius" placeholder="Recherche"></ng-select>
    </div>
  </div>
</div>

<div class="container">
  <div class="tiles">
    <div class="tiles-item col-9">
      <ngx-masonry class="masonry-grid" [options]="myOptions" [useImagesLoaded]="true">
        <ngxMasonryItem class="masonry-item col-4" *ngFor="let item of masonryItems">
          <app-community-card-post></app-community-card-post>
        </ngxMasonryItem>
      </ngx-masonry>
    </div>
    <div class="tiles-item col-3">
      <app-my-stats></app-my-stats>
      <app-my-tags></app-my-tags>
      <app-meet-place></app-meet-place>
    </div>
  </div>

</div>