<div class="module">
  <div class="module-header">
    <h1 class="module-header-title">#brive-jpop</h1>
  </div>

  <div class="module-content">
    <ul class="list-group list-group_activities">
      <li class="list-group-item">
        <a href="#">Username1</a> à commenter <a href="#">Poste1</a>
      </li>
      <li class="list-group-item">
        <a href="#">Username1</a> à commenter <a href="#">Poste
          akaima mmorpg news</a>
      </li>
      <li class="list-group-item">
        <a href="#">Username1</a> à commenter <a href="#">Poste1</a>
      </li>
      <li class="list-group-item">
        <a href="#">Username1</a> à commenter <a href="#">Poste1</a>
      </li>
    </ul>
  </div>
</div>