<div class="main-section">
  <div class="main-section-header mb-0">
    <div class="main-section-header-title">Changer votre mot de passe</div>
  </div>
  <div class="p-3 text-center">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nouveau mot de passe">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Confirmer nouveau mot de passe">
      </div>

      <div class="form-actions text-left">
        <button type="submit" class="btn btn-primary">Modifier</button>
      </div>
    </form>
  </div>
</div>