<footer id="footer">
  <div class="footer">
    <div class="container">
      <ul class="menu">
        <li class="menu-item copyright">© 2018 GO IRL</li>
        <li class="menu-item"><a class="menu-link" href="#">À propos</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Centre d'assistance</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Conditions</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Politique de confidentialité</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Cookies</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Informationssur la publicité</a></li>
      </ul>
    </div>
  </div>
</footer>