<div id="page-community-list">

  <div class="search-banner">
    <div class="container">
      <div class="search-banner-top" (click)="toggleSearchMenu()" [ngClass]="searchMenuOpen">
        <h2 class="search-banner-top-title">Que cherchez-vous ?</h2>
        <i class="material-icons search-banner-top-expand-icon">expand_more</i>
      </div>

      <div class="search-banner-menu" [@slideInOut]="searchMenuOpen">
        <div class="tiles">
          <div class="tiles-item col-6">
            <ng-select [items]="themes" placeholder="Sélectionnez un thème"></ng-select>
          </div>
          <div class="tiles-item col-6">
            <input type="text" class="form-control" placeholder="Mots clés supplémentaires (gastronomie, débutant, exotique, ...)">
          </div>
        </div>
        <div class="tiles">
          <div class="tiles-item col-6">
            <ng-select [items]="cities" bindLabel="name" [loading]="peopleLoading" placeholder="Ville"></ng-select>
          </div>
          <div class="tiles-item col-3 d-flex align-items-center">
            <label>Dans un rayon de</label>
            <ng-select class="flex-grow-1" [items]="radius" [clearable]="false" [(ngModel)]="selectedRadius"></ng-select>
          </div>
          <div class="tiles-item col-3">
            <button type="button" class="btn btn-light w-100">Recherche</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="toolbar">
    <div class="container">
      <div class="toolbar-inner">
        <ul class="nav nav_sort">
          <li class="nav-item">
            <a class="nav-link active" href="#">Tops Activité</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Récents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Populaires</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="tiles">
      <div class="tiles-item col-9">
        <ngx-masonry class="masonry-grid" [options]="myOptions" [useImagesLoaded]="true">
          <ngxMasonryItem class="masonry-item col-4" *ngFor="let item of masonryItems">
            <app-community-card></app-community-card>
          </ngxMasonryItem>
        </ngx-masonry>
      </div>
      <div class="tiles-item col-3">
        <app-suggest-communities></app-suggest-communities>
        <app-suggest-tags></app-suggest-tags>
      </div>
    </div>
  </div>

</div>