<div id="page-notification">
  <div class="container">

    <div class="main">
      <div class="main-header">
        <div class="main-header-inner">
          <h2 class="main-header-title">Notifications</h2>
          <p class="main-header-subtitle">L'endroit idéal pour vous tenir informé des activités de vos communautés</p>
        </div>
      </div>

      <div class="toolbar">
        <div class="toolbar-inner p-3">
          <ul class="nav nav_sort">
            <li class="nav-item">
              <a class="nav-link active" href="#">Tous</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Annonces (1)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nouveaux evènements (2)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Commentaires (2)</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- SECTION ANNONCES -->
      <div class="main-section">
        <div class="main-section-header mb-0">
          <div class="main-section-header-title">Annonces (1)</div>
          <div class="fill"></div>
          <i class="material-icons">expand_less</i>
        </div>
        <div class="items">
          <div class="item NotificationItem">
            <div class="item-content">
              <div class="NotificationItem-header">
                <span class="item-title">La première version arrive !</span>
              </div>
              <p class="NotificationItem-body">
                Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit...
              </p>
              <span class="NotificationItem-date">Il y a 1 jour</span>
            </div>
            <div class="item-last">
              <div class="btn-group" dropdown>
                <a class="is-action" id="button-basic" dropdownToggle><i class="material-icons">more_vert</i></a>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Supprimer</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Marquer comme lu</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SECTION ANNONCES -->

      <!-- SECTION NOUVEAUX EVENEMENTS -->
      <div class="main-section">
        <div class="main-section-header mb-0">
          <div class="main-section-header-title">Nouveaux évènements (1)</div>
          <div class="fill"></div>
          <i class="material-icons">expand_less</i>
        </div>
        <div class="items">
          <div class="item NotificationItem bg-important">
            <div class="item-content">
              <div class="NotificationItem-header">
                <a href="#" class="item-title">@brive-jpop a crée l'évènement "Concert a Paris</a>
              </div>
              <p class="NotificationItem-body">
                Commence le 12/10/18 à 18:00 pour un groupe de 10 personnes.<br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
              </p>
              <span class="NotificationItem-date">Il y a 1 jour</span>
            </div>
            <div class="item-last">
              <div class="btn-group" dropdown>
                <a class="is-action" id="button-basic" dropdownToggle><i class="material-icons">more_vert</i></a>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Supprimer</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Marquer comme lu</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="item NotificationItem">
            <div class="item-content">
              <div class="NotificationItem-header">
                <a href="#" class="item-title">@lab19 a crée l'évènement "Lan coding"</a>
              </div>
              <p class="NotificationItem-body">
                Commence le 12/10/18 à 18:00 pour un groupe de 10 personnes.<br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
              </p>
              <span class="NotificationItem-date">Il y a 1 jour</span>
            </div>
            <div class="item-last">
              <div class="btn-group" dropdown>
                <a class="is-action" id="button-basic" dropdownToggle><i class="material-icons">more_vert</i></a>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Supprimer</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Marquer comme lu</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SECTION NOUVEAUX EVENEMENTS -->

      <!-- SECTION COMMENTAIRES -->
      <div class="main-section">
        <div class="main-section-header mb-0">
          <div class="main-section-header-title">Commentaires (1)</div>
          <div class="fill"></div>
          <i class="material-icons">expand_less</i>
        </div>
        <div class="items">
          <div class="item NotificationItem">
            <div class="item-content">
              <div class="NotificationItem-header">
                <a href="#" class="item-title">Pikabanga a commenté l'évènement "Concert à Paris"</a>
              </div>
              <p class="NotificationItem-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
              </p>
              <span class="NotificationItem-date">Il y a 1 jour</span>
            </div>
            <div class="item-last">
              <div class="btn-group" dropdown>
                <a class="is-action" id="button-basic" dropdownToggle><i class="material-icons">more_vert</i></a>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Supprimer</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Marquer comme lu</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="item NotificationItem">
            <div class="item-content">
              <div class="NotificationItem-header">
                <a hre="#" class="item-title">Pikabanga vous a répondu sur le billet "Concert à
                  Paris"</a>
              </div>
              <p class="NotificationItem-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
              </p>
              <span class="NotificationItem-date">Il y a 1 jour</span>
            </div>
            <div class="item-last">
              <div class="btn-group" dropdown>
                <a class="is-action" id="button-basic" dropdownToggle><i class="material-icons">more_vert</i></a>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Supprimer</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Marquer comme lu</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SECTION COMMENTAIRES -->

    </div>
  </div>
</div>