<div class="module">
  <div class="module-header">
    <h1 class="module-header-title">Communautés suggèrées</h1>
  </div>

  <div class="module-content">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="community-name d-inline-block text-truncate" href="#">100%
          J-POP</a>
        <div class="community-details">
          <a class="community-slug text-muted d-inline-block text-truncate" href="#">@brive-jpop</a>
          <span class="badge badge-cat">Musique</span>
        </div>
      </li>
      <li class="list-group-item">
        <a class="community-name d-inline-block text-truncate" href="#">100%
          J-POP</a>
        <div class="community-details">
          <a class="community-slug text-muted d-inline-block text-truncate" href="#">@brive-jpop</a>
          <span class="badge badge-cat">Musique</span>
        </div>
      </li>
      <li class="list-group-item">
        <a class="community-name d-inline-block text-truncate" href="#">100%
          J-POP</a>
        <div class="community-details">
          <a class="community-slug text-muted d-inline-block text-truncate" href="#">@brive-jpop</a>
          <span class="badge badge-cat">Musique</span>
        </div>
      </li>
      <li class="list-group-item">
        <a class="community-name d-inline-block text-truncate" href="#">100%
          J-POP</a>
        <div class="community-details">
          <a class="community-slug text-muted d-inline-block text-truncate" href="#">@brive-jpop</a>
          <span class="badge badge-cat">Musique</span>
        </div>
      </li>
    </ul>
  </div>
</div>