$theme-colors: (
  "primary":   #ee0979,
  "secondary": #364e61,
  "danger":    #ff4136,

  "base-0":   #fdfdfd,
  "base-0-5": #f8f9fa,
  "base-1":   #f2f2f2,
  "base-1-5": #e7e7e7,
  "base-2":   #dadada,
  "base-3":   #aaa,
  "base-4":   #696969,
  "base-5":   #000,

  "yellow-200":#FFF59D,
  "yellow-300":#FFF176,
  "yellow-400":#FFEE58,
  "yellow-500":#FFEB3B,
  "yellow-600":#FDD835,

  "blue-200":#90CAF9,
  "blue-300":#64B5F6,
  "blue-400":#42A5F5,
  "blue-500":#2196F3,
  "blue-600":#1E88E5,

  "red-200":#EF9A9A,
  "red-300":#E57373,
  "red-400":#EF5350,
  "red-500":#F44336,
  "red-600":#E53935,

  "purple-200":#CE93D8,
  "purple-300":#BA68C8,
  "purple-400":#AB47BC,
  "purple-500":#9C27B0,
  "purple-600":#8E24AA,

  "green-200":#A5D6A7,
  "green-300":#81C784,
  "green-400":#66BB6A,
  "green-500":#4CAF50,
  "green-600":#43A047,

  "pink-200":#F48FB1,
  "pink-300":#F06292,
  "pink-400":#EC407A,
  "pink-500":#E91E63,
  "pink-600":#D81B60,

  "cyan-200":#80DEEA,
  "cyan-300":#4DD0E1,
  "cyan-400":#26C6DA,
  "cyan-500":#00BCD4,
  "cyan-600":#00ACC1,

  "orange-200":#FFCC80,
  "orange-300":#FFB74D,
  "orange-400":#FFA726,
  "orange-500":#FF9800,
  "orange-600":#FB8C00,

  "grey-100": #dbdbdd,
  "grey-200": #a19fa0,
  "grey-300": #666666,
  "grey-400": #3c3c3c,
  "grey-500": #363636,
);

$enable-rounded: false;



// :root {
//   --space-quarter:  #{$spacer * 0.25};
//   --space-half:     #{$spacer * 0.50};
//   --space-base:     #{$spacer};
//   --space-:   
//   --space-double:   #{$spacer * 2};
//   --space-triple:   #{$spacer * 3};
//   --space-quad:     #{$spacer * 4};
//   --space-giant:    #{$spacer * 5};
// }

// :root {
//   --space-1: #{$spacer * 0.25};
//   --space-2: #{$spacer * 0.50};
//   --space-3: #{$spacer};
//   --space-4: #{$spacer * 1.50};
//   --space-5: #{$spacer * 2.00};
//   --space-6: #{$spacer * 3.00};
//   --space-7: #{$spacer * 4.00};
//   --space-8: #{$spacer * 5.00};
// }

.theme--light {
  --base-0:   #fdfdfd;
  --base-1:   #f2f2f2;
  --base-1-5: #e7e7e7;
  --base-2:   #dadada;
  --base-3:   #aaa;
  --base-4:   #696969;
  --base-5:   #000;
}

.theme--dark {
  --base-0: #070c2b;
  --base-1: #141e55;
  --base-2: #323e83;
  --base-3: #7785de;
  --base-4: #a2f1ff;
  --base-5: #fff;
}