<div id="page-login">

  <!-- LOGIN MAIN -->
  <div class="main LoginMain">
    <div class="main-header mb-0">
      <div class="main-header-inner">
        <h2 class="main-header-title">Connexion</h2>
        <p class="main-header-subtitle">Connectez-vous via votre adresse email ou réseau sociaux</p>
      </div>
    </div>

    <div class="LoginMain-banner">
      <img src="/assets/images/banners/banner-front.png">
    </div>

    <div class="LoginMain-sns">
      <a href="#" class="btn LoginMain-sns-btn col-4">
        <img class="LoginMain-sns-btn-img" src="/assets/images/icons/sns/facebook.png">
        <span class="LoginMain-sns-btn-text">Connexion via facebook</span>
      </a>
      <a href="#" class="btn LoginMain-sns-btn col-4">
        <img class="LoginMain-sns-btn-img" src="/assets/images/icons/sns/twitter.png">
        <span class="LoginMain-sns-btn-text">Connexion via twitter</span>
      </a>
      <a href="#" class="btn LoginMain-sns-btn col-4">
        <img class="LoginMain-sns-btn-img" src="/assets/images/icons/sns/google.png">
        <span class="LoginMain-sns-btn-text">Connexion via google</span>
      </a>
    </div>

    <div class="LoginMain-tenant-form">
      <form>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Adresse email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Mot de passe">
        </div>
        <div class="LoginMain-tenant-form-actions">
          <button type="submit" class="btn btn-primary w-100">Connexion</button>
        </div>
      </form>
      <div class="mb-3">
        <a href="#">Mot de passe oublié ?</a>
        <br>
        <a href="#">Créer un compte</a>
      </div>
    </div>

    <div class="links LoginMain-links">
      <a href="#">A propos</a>
      <a href="#">Contactez-Nous</a>
      <a href="#">Condition d'Utilisation</a>
      <a href="#">Confidentialité</a>
    </div>
  </div>
  <!-- LOGIN MAIN -->



</div>