<div class="module">
  <div class="module-header">
    <h1 class="module-header-title">Mes statistiques</h1>
  </div>

  <div class="module-content">
    <div class="stats">
      <ul>
        <li>
          <strong>0</strong> <span>J'aimes envoyés</span>
        </li>
        <li>
          <strong>0</strong> <span>Commentaires postés</span>
        </li>
        <li class="divider"></li>
        <li>
          <strong>1</strong> <span>Billets postés</span>
        </li>
        <li>
          <strong>0</strong> <span>Evènements postés</span>
        </li>
      </ul>
    </div>
  </div>
</div>