.stats {
    background: white;
    margin-bottom: 0.5rem;

    &:last-of-type {
        margin-bottom:0;
    }
}

.stats > ul {
    padding: 0;
    list-style: none;
    margin: 0.5rem 0 0 0;
}

.stats > ul > li.divider {
    font-size: 0;
    border-bottom: 1px solid #dbdbdd;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li strong {
    float:left;
}

li span {
    display:block;
    margin-left:1.5rem;
}